/* FONTS */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-extra-light {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* ALL */
.App {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

html {
    display: flex;
    justify-content: center;

    color: #f7f7f7;
    background-color: #101415;
}

img {
    border-radius: 10px;
}

ul {
    /* roboto-light */
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;

    padding: 0;
    margin: 0;

    margin: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;

    outline: 0;
    border: 0;

    background: #705597;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    &:first-child {
        margin-top: 1rem;
    }
}

li {
    /* roboto-light */
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;

    text-align: center;
    list-style: none;

    padding: 0.5rem;

    &:last-child {
        margin-bottom: 0;
    }
}

li:hover {
    background-color: #523e6f;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;

    text-align: center;
}

h1 {
    /* roboto-bold */
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
}

h2 {
    /* roboto-bold */
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;

    padding: 1.5rem;
}

h3 {
    /* roboto-medium */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;

    text-align: left;
}

h4 {
    /* roboto-regular */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;

    color: #a5a5a5;
}

h5 {
    /* roboto-regular */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;

    color: #a5a5a5;
    text-align: left;
}

p {
    /* roboto-regular */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem;

    color: #a5a5a5;
}

button {
    /* roboto-regular */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;

    margin: 0.75rem;
    margin-bottom: 0rem;

    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    background-color: #212633;
    color: #f7f7f7;

    outline: 0;
    border: 0;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

/* CLASS */
.main {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.favorite {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    min-width: 25vw;

    background-color: #121212;
}

.details {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    min-height: 50vh;
    min-width: 75vw;

    background: linear-gradient(#7389c1, #3a4561);
}

.titles {
    display: flex;
    flex-direction: row;

    align-items: flex-end;
    margin: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-start;

    margin: 1rem;
}

.clickable {
    display: flex;
    flex-direction: row;
}

.filtering {
    display: flex;
    flex-direction: column;
}

.dropdown {
    padding: 0;
    margin: 0;
}

.selection {
    display: flex;
    flex-direction: column;

    min-height: 60vh;
    min-width: 75vw;

    padding-top: 2rem;
    padding-bottom: 2.5rem;

    background: linear-gradient(#2d364d, #121212);
}

/* ID */
#reset-button {
    border-radius: 50px;
}

#reset-button:hover {
    background-color: #11141b;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

#filters-button {
    background-color: #8967bb;
    border-radius: 5px;
}

#filters-button:hover {
    background-color: #705597;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

#sorting-button {
    background-color: #bb9fdb;
    border-radius: 5px;
}

#sorting-button:hover {
    background-color: #937dae;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

#roadtrip-pic {
    margin: 0;
    padding: 0;

    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#itzy-pic {
    margin: 0;
    padding: 0;

    margin-left: 1.5rem;

    width: 300px;
}

#time-duration {
    margin: 1rem;
}

/* SONG */
.song {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    margin-bottom: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.song-info {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.album-cover {
    height: 50px;
    border-radius: 5px;

    justify-content: center;
}

.song-details {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;

    margin: 1rem;
}

.song-titles {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.icon {
    height: 25px;
    margin-left: 1rem;
}

.aggregator {
    padding-top: 1rem;
}
