.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* All Styling */
/* MAIN */
html {
    display: flex;
    justify-content: center;

    color: #f7f7f7;
    background-color: #101415;
}

.App {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}

.favorite {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    min-width: 25vw;

    background-color: #121212;
}

.details {
    display: flex;
    flex-direction: row;

    /* align-items: flex-end; */
    justify-content: space-between;

    min-height: 45vh;
    min-width: 75vw;

    background: linear-gradient(#7389c1, #3a4561);
}

.titles,
.buttons {
    display: flex;
    flex-direction: row;

    align-items: flex-end;
    margin: 1rem;
}

.buttons {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: flex-start;
}

.clickable {
    display: flex;
    flex-direction: row;
}

.filtering {
    display: flex;
    flex-direction: column;
}

.dropdown {
    padding: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;

    margin: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;

    background: #705597;

    font-size: 1rem;
    outline: 0;
    border: 0;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    &:first-child {
        margin-top: 1rem;
    }
}

li {
    list-style: none;

    padding: 0.5rem;
    /* margin-bottom: 1rem; */

    &:last-child {
        margin-bottom: 0;
    }
}

li:hover {
    background-color: #523e6f;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.selection {
    display: flex;
    flex-direction: column;

    min-height: 60vh;
    min-width: 75vw;

    padding-top: 2rem;
    padding-bottom: 2.5rem;

    background: linear-gradient(#2d364d, #121212);
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

h2 {
    padding: 1rem;
}

h4 {
    color: #a5a5a5;
}

h5 {
    color: #a5a5a5;
    text-align: left;
}

p {
    color: #a5a5a5;
}

button {
    margin: 0.75rem;
    margin-bottom: 0rem;

    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    background-color: #212633;
    color: #f7f7f7;
    font-size: 1rem;

    outline: 0;
    border: 0;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

#reset-button {
    border-radius: 50px;
}

#reset-button:hover {
    background-color: #11141b;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

#filters-button {
    background-color: #8967bb;
    border-radius: 5px;
}

#filters-button:hover {
    background-color: #705597;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

#sorting-button {
    background-color: #bb9fdb;
    border-radius: 5px;
}

#sorting-button:hover {
    background-color: #937dae;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

img {
    border-radius: 10px;
}

#roadtrip-pic {
    margin: 0;
    padding: 0;

    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#itzy-pic {
    margin: 0;
    padding: 0;

    margin-left: 1.5rem;

    width: 300px;
}

/* SONG */
.song {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    margin-bottom: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.song-info {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.album-cover {
    height: 50px;
    border-radius: 5px;

    justify-content: center;
}

.song-details {
    display: flex;
    flex-direction: column;

    margin: 1rem;

    justify-content: flex-start;
}

.song-titles {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.icon {
    height: 25px;
    margin-left: 1rem;
}

.aggregator {
    padding-top: 1rem;
}
